@charset "UTF-8";

.table {
	&.type1 {
		line-height: var(--lh-150);
		table {
			border-collapse: collapse;
			thead {
				th {
					@include border(all, 1px, solid, var(--border-default));
					color: var(--c-black);
					padding: 10px;
					font: {
						weight: var(--fw-medium);
					}
					background: {
						color: rgba(var(--c-gray-8-rgb), 60%);
					}
					&:first-child {
						@include border(left, 1px, solid, transparent);
					}
					&:last-child {
						@include border(right, 1px, solid, transparent);
					}
				}
			}
			tbody {
				th {
					@include border(all, 1px, solid, var(--border-default));
					padding: 10px;
					color: var(--c-black);
					font: {
						weight: var(--fw-medium);
					}
					background: {
						color: rgba(var(--c-gray-8-rgb), 60%);
					}
					&:first-child {
						@include border(left, 1px, solid, transparent);
					}
				}
				td {
					@include border(all, 1px, solid, var(--border-default));
					padding: 10px;
					color: var(--c-gray-1);
					&:first-child {
						@include border(left, 1px, solid, transparent);
					}
					&:last-child {
						@include border(right, 1px, solid, transparent);
					}
				}
			}
		}
	}
	&.layout-fixed {
		table {
			table-layout: fixed;
		}
	}
	&.layout-responsive {
		overflow-x: auto;
		table {
			th, td {
				white-space: nowrap;
			}
		}
	}
}
